# .vscode/**
# .vscode-test/**
# .gitignore

# **/*
#
# !/syntaxes/

# Ignore everything
*
*/**

# Whitelist files
!LICENSE
!CHANGELOG.md
!language-configuration.json
!syntaxes/*


# !.vscodeignore
# !src/*
