name: CI

permissions:
  contents: read

on:
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: corepack enable

      - name: Install dependencies
        run: pnpm install

      - name: Check code formatting
        run: pnpm run format:check
